<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../librerias/css/bootstrap.min.css">
    <link rel="stylesheet" href="../librerias/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="../librerias/DataTables/datatables.min.css" />
    <script type="text/javascript" src="../librerias/DataTables/datatables.min.js"></script>
    <link rel="stylesheet" href="../librerias/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="../librerias/js/dataTables.bootstrap5.min.js">
    <link href="../css/estilo.css" rel="stylesheet">

    <title>Nuestra Historia</title>
</head>

<body>

    <h1>Nuestra historia</h1>
    <h2>El comienzo</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, sit corporis repellendus animi enim suscipit ipsa
        officia. Excepturi natus ullam possimus consequuntur adipisci sit veritatis ipsa repudiandae. Similique, rerum
        porro?</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ut aperiam earum natus voluptas aliquam
        voluptatem ab nobis! Consectetur sed deserunt architecto inventore ad fugit iure repellat voluptatibus dolor
        obcaecati?</p>
</body>

</html>