<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../librerias/css/bootstrap.min.css">
    <link rel="stylesheet" href="../librerias/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="../librerias/DataTables/datatables.min.css" />
    <script type="text/javascript" src="../librerias/DataTables/datatables.min.js"></script>
    <link rel="stylesheet" href="../librerias/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="../librerias/js/dataTables.bootstrap5.min.js">
    <link href="../css/estilo.css" rel="stylesheet">

    <title>Tipo de atracciones</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a href="../index.html" style="text-decoration: none;"><span class="navbar-brand mb-0 h1 fs-3">STAR WARS
                    PARK</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuColapsable"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menuColapsable">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a href="visitantes_lista.html" class="nav-link">Visitantes</a>
                    </li>
                    <li class="nav-item">
                        <a href="atracciones_lista.html" class="nav-link">Atracciones</a>
                    </li>
                    <li class="nav-item">
                        <a href="tipos_de_atracciones_lista.html" class="nav-link">Tipo de atracciones</a>
                    </li>
                    <li class="nav-item">
                        <a href="promociones_lista.html" class="nav-link">Promociones</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Listados</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <form class="row needs-validation" novalidate>


        <div class="row" style="margin-top:2%">
            <div class="col-md-3 offset-md-3">
                <label for="validationCustom01" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="validationCustom01" placeholder="Ingrese su nombre"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-3 offset-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Activo
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:2%">
            <div class="col-md-6 offset-md-5">
                <button class="btn btn-secondary" type="submit"> Guardar</button>
                <button class="btn btn-secondary" type="submit"> Cancelar</button>
            </div>
        </div>
    </form>
</body>

</html>