@charset "UTF-8";

body {
	background-image: url("assets/img/hyperspace.jpg");
}

h3 {
	color: white
}

h5 {
	color: #ffe81f
}

.imagenFondo {
	background-image: url("assets/img/hyperspace.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face {
	font-family: starjedi;
	src: url("../fuentes/Starjedi.ttf");
}

/*h1 {
font-family: starjedi;
}

/*
.starjedi {
	font-family: starjedi;
}
*/

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
	margin-top: -5%;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/************************/
* {
	font-family: starjedi;
}

.navbar-brand {
	position: absolute;
	font-family: starjedi;
	color: yellow !important;
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 2rem;
	padding-bottom: 0.5rem;
	background: rgb(1, 1, 3);
	background: linear-gradient(333deg, rgba(1, 1, 3, 1) 19%,
		rgba(56, 85, 116, 1) 100%, rgba(121, 155, 183, 1) 100%);
}

.bi-volume-up-fill, .bi-volume-mute-fill {
	color: gray;
	font-size: 2em;
	cursor: pointer;
}

.nav-link:hover {
	color: yellow !important;
}

.nav {
	position: fixed !important;
	top: -50px !important;
	width: 100% !important;
	transition: top 0.3s !important;
}

.texto {
	background-color: #ffe81f;
	position: relative;
	left: 90%;
	top: 50%;
	transform: translate(-90%, -50%);
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 100px;
	grid-auto-rows: minmax(100px, auto);
}

.one {
	grid-column: 1;
	grid-row: 1;
	border: none;
}

.two {
	grid-column: 2;
	grid-row: 1;
	border: none;
}

.three {
	grid-column: 3;
	grid-row: 1;
	border: none;
}

.four {
	grid-column: 1;
	grid-row: 2;
	border: none;
}

.five {
	grid-column: 2;
	grid-row: 2;
	border: none;
}

.six {
	grid-column: 3;
	grid-row: 2;
	border: none;
}

.seven {
	grid-column: 1;
	grid-row: 3;
	border: none;
}

.eight {
	grid-column: 2;
	grid-row: 3;
	border: none;
}

.nine {
	grid-column: 3;
	grid-row: 3;
	border: none;
}

.ten {
	grid-column: 1;
	grid-row: 4;
	border: none;
}

.eleven {
	grid-column: 2;
	grid-row: 4;
	border: none;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.card {
	background-image: url("assets/img/test2.jpg");
	background-size: 100%;
}

.modal-header {
	background-color: #212529;
}

.modal-body {
	background-image: url("assets/img/test2.jpg");
	background-size: cover;
}

.modal-footer {
	background-color: #212529;
}

.offcanvas-header {
	background-color: #212529;
}

.offcanvas-body {
	background-image: url("assets/img/vader.jpg");
	background-repeat: round;
	background-size: 100%;
}

/************************/
.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

footer {
	text-align: center;
	background: rgb(1, 1, 3);
	background: linear-gradient(333deg, rgba(1, 1, 3, 1) 19%,
		rgba(56, 85, 116, 1) 100%, rgba(121, 155, 183, 1) 100%);
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}